/* 공통레이아웃 */
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f4f7fb;
}

a {
  text-decoration: none;
  color: #00cd8c;
}

h1 {
  font-weight: bold;
}

li {
  list-style: none;
}

h3 {
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 10px;
  color: gray;
}

span {
  font-size: 15px;
  padding-right: 20px;
}

input::placeholder {
  color: #ccc;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input:-ms-input-placeholder {
  color: #ccc;
}

textarea::placeholder {
  color: #ccc;
}
textarea::-webkit-input-placeholder {
  color: #ccc;
}
textarea:-ms-input-placeholder {
  color: #ccc;
}

/* button css */
button {
  padding: 15px;
  margin: 0px 0px 10px 5px;
  border-radius: 10px;
  background-color: #00cd8c;
  color: white;
  border: 1px solid #00cd8c;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 14px;
}

button:hover {
  background-color: white;
  border: 1px solid #00cd8c;
  color: #00cd8c;
}

/* navbar _layout */

.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 10px 10px 10px #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
}

.navbar_logo h1 {
  display: inline;
  font-weight: bold;
  cursor: pointer;
}

.navbar_logo {
  font-size: 24px;
  color: #00cd8c;
}

.navbar_logo i {
  color: #00cd8c;
}

.navbar_menu {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

.navbar_menu li:hover {
  background-color: #00cd8c;
  border-radius: 4px;
}

.navbar_menu li a:hover {
  color: white;
}

.navbar_icons {
  list-style: none;
  display: flex;
  color: #00cd8c;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 12px;
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 24px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
    color: white;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}

/* main section layout */

section {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 1080px;
}

.inputData_arae {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #cbd1d8;
  border-radius: 10px;
  padding: 20px 0 20px 0px;
  margin-bottom: 20px;
}

.result {
  display: none;
  background-color: #fff;
  border: 1px solid #cbd1d8;
  border-radius: 10px;
  padding: 30px 20px 30px 20px;
  margin-bottom: 0px;
}

.result_area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.result_area li {
  padding: 8px 12px;
  font-size: 16px;
  line-height: 32px;
  color: gray;
}

.result_area li span {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  color: black;
}

.prograss {
  height: 10px;
  margin: 20px 10px 30px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.prograss_bar {
  height: 100%;
  background-color: #00cd8c;
  border-radius: 10px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 20px 0px;
}

footer p {
  color: gray;
}
