/* input type css */
#nowPrice,
#nowCount,
#addPrice,
#addCount {
  width: 280px;
  height: 28px;
  border-radius: 10px;
  border: 1px solid #cbd1d8;
  padding: 8px 12px;
  margin: 5px 10px;
}

/* title css */

.title h1 {
  font-weight: bold;
  font-size: 30px;
  padding: 20px 0px;
  text-decoration: underline 5px #00cd8c;
}

.sub_title p {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}

.now_data {
  width: 100%;
  height: auto;
  padding: 10px 0 20px 0;
  margin-left: 30px;
  border-right: 5px dotted #cbd1d8;
}

.add_data {
  width: 100%;
  height: auto;
  padding: 20px 0 10px 0;
  margin-left: 30px;
}

.button_area {
  display: flex;
  justify-content: flex-end;
}

/* result css */

.revenue {
  display: flex;
  justify-content: space-between;
}

.revenue p {
  line-height: 32px;
  padding: 8px 12px;
}

.revenue .result_averagePrice1 {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline 5px #ff9a01;
}

.revenue .result_percent {
  font-size: 18px;
  font-weight: 500;
}

.now_result {
  width: 100%;
  border-right: 3px dotted #cbd1d8;
}

.add_result {
  width: 100%;
  border-right: 3px dotted #cbd1d8;
  padding-left: 20px;
}

.new_result {
  width: 100%;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }

  .inputData_arae {
    display: flex;
    flex-direction: column;
  }

  .now_data {
    border-bottom: 5px dotted #cbd1d8;
  }
}
